@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

* {
   margin: 0;
   font-family: 'open sans';
}

#input-field {
   text-align: center;
   width: 80%;
   margin: 2rem auto 0;
}

#input-field h1 {
   font-size: 2.5rem;
   margin: 1rem 0;
   background-image: linear-gradient(90deg, red, blue);
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
}

#input-box {
   width: 100%;
   min-height: 6rem;
   max-width: 700px;
   padding-left: 5px;
   box-sizing: border-box;
   pointer-events: none;
}

.keyboard-ctr {
   position: fixed;
   bottom: 0;
   width: 100%;
   background-color: rgb(15, 17, 24);
}

.keyboard-keys {
   max-width: 1100px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(11, 8.18%);
   grid-auto-rows: 3rem;
   grid-gap: 1%;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   padding: 12px 8px;
}

.key {
   background-color: #333;
   color: #fff;
   border: none;
   border-radius: 5px;
   width: 100%;
   height: 2.5rem;
   font-size: 1.5rem;
}

.key-common {
   grid-area: 5/4/6/9;
}

.cap-on {
   color: #0f0;
}

.key:hover {
   cursor: pointer;
}

.key:active {
   background-color: #222;
}

@media (max-width: 500px) {
   .fas {
      font-size: 16px;
      vertical-align: middle;
      padding-bottom: 4px;
   }

   #input-field h1 {
      font-size: 1.8rem;
   }
}

@media (min-width: 1200px) {
   #input-box {
      font-size: 2rem;
   }
}